@import basic
@import vars

#judge
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #fff
  z-index: index($order, judge)
  overflow: hidden

#court
  position: absolute
  top: 0
  left: 50%
  margin-left: -190px
  margin-top: 0
  width: 380px
  height: 0
  background: url(img/court-bk.png) center center no-repeat
  background-size: contain
  @include transition(all 0.5s ease-in-out)
  &.fin
    background-position: center -1000px
  & > .inner
    width: 100%
    height: 100%
    background: url(img/court-fg.png) center center no-repeat
    background-size: contain
  #jc-h
    position: absolute
    top: 46.5%
    left: 50%
    margin: -95px 0 0 -68px
    width: 136px
    height: 150px
    background: url(img/heads.png) center center no-repeat
    background-size: cover
  .bulb
    position: absolute
    top: 50%
    left: 50%
    width: 40px
    height: 60px
    background-position: 0 center
    background-repeat: no-repeat
    background-size: contain
    &.s0
      background-image: url(img/bulb0.png)
    &.s1
      background-image: url(img/bulb1.png)
    &.s2
      background-image: url(img/bulb2.png)
    .inner
      width: 120%
      height: 120%
      margin: -3% -10% 0 0
      opacity: 0
      //-@include transition(all 0.5s ease-out)
    &.active
      background-image: none
      .inner
        opacity: 1

#judge
  .sent
    position: absolute
    top: 65px
    margin: 10px
    opacity: 1
    @include transition(all 0.5s ease-in-out)
    &.fin
      top: 0
      opacity: 0
      z-index: 0
  .sent .title
    font-size: 2em
    margin-bottom: 10px
    text-align: center
  .sent .desc
    font-size: 1.3em
    line-height: 1.4em
    letter-spacing: 1px
    white-space: pre-line
  @media (max-width: 991px), (max-height: 500px)
    .sent
      top: 50px
      .title
        font-size: 1.5em
        margin-bottom: 5px
  @media (max-width: 768px), (max-height: 360px)
    .sent
      top: 47px
      margin-top: 2px
      .title
        font-size: 1.2em
        margin-bottom: 0
      .desc
        font-size: 0.75em
#jg-sent1
  top: 100px
  left: 0
  padding: 10px

#jg-sent2, #jg-sent3
  top: 100px
  right: 0
  padding: 10px
  @include transition(all 0.5s ease-in-out)
  @include transform(translate(0,0))
  opacity: 1
  &.inactive
    @include transform(translate(200px,0))
    opacity: 0 
 
#jg-sentl, #jg-sentr
  width: 16%
  height: 143px
  position: absolute
  background-position: 0 bottom
  background-repeat: no-repeat
  background-size: contain
  bottom: 0
  left: 50%
  margin-left: -8%
  cursor: pointer
  opacity: 1
  @include transition(opacity 0.5s ease-in-out, bottom 0.5s ease-in-out, z-index 0.5s ease-in-out)
  &.fin
    bottom: -20px
    opacity: 0
    z-index: 0
#jg-sentl
  left: 40%
  background-image: url(img/jg-sentl.png)
  &:hover
    background-image: url(img/jg-sentl-active.png)
#jg-sentr
  left: 60%
  background-image: url(img/jg-sentr.png)
  &:hover
    background-image: url(img/jg-sentr-active.png)
@include keyframes(jg-more)
  0%
    @include transform(scale(1.3))
  30%
    @include transform(scale(1))
  31%
    @include transform(scale(1.2))
  100%
    @include transform(scale(1))
#jg-more
  position: absolute
  right: -22px
  bottom: -12px
  width: 186px
  height: 80px
  cursor: pointer
  background: url(img/more.png) 0 center no-repeat
  background-size: cover
  opacity: 1
  @include transform(scale(0.8))
  @media (min-width: 991px)
    right: 30px
    bottom: 40px
    @include transform(scale(1.5))
  &.fin
    right: -20px
    opacity: 0
  &.active, &:hover
    background-position: -186px center
  &.shown
    background-position: -372px center
  &.shown.active, &.shown:hover
    background-position: -558px center
  @media (max-width: 768px)
    width: 93px
    height: 40px
    &.active, &:hover
      background-position: -93px center
    &.shown
      background-position: -186px center
    &.shown.active, &.shown:hover
      background-position: -279px center
