@import basic
@import vars

#land
  position: absolute
  top: 0
  left: 0
  z-index: index($order, land)
  background: url(img/land-bk.png) #DF1E2D center center no-repeat
  background-attachment: fixed
  background-size: cover
  width: 100%
  min-height: 100%
  opacity: 1
  @include transition(all 0.3s ease-out)
  &.inactive
    left: -100px
    opacity: 0
    z-index: index($order, base)
  #ld-h
    margin: auto
    display: block
    @include transition(all 0.3s ease-out)
    width: 300px
    height: 300px
    opacity: 0
  #ld-t
    width: 50%
    display: block
    margin: auto
  #ld-tt
    width: 50%
    font-size: 15px
    @media (max-width: 480px), (max-height: 600px)
      width: 85%
    font-size: 13px
    text-align: center
    display: block
    margin: auto
    color: #ccc
    background: rgba(0,0,0,0.5)
    padding: 10px
    border-radius: 5px
  #ld-b
    width: 150px
    height: 150px
    //-background: url(img/go.svg) center center no-repeat
    background: url(img/go.png) center center no-repeat
    background-size: contain
    display: block
    margin: auto
    cursor: pointer
    &:hover
      //-background-image: url(img/go-active.svg)
      background-image: url(img/go-active.png)
    &.mobile
      position: absolute
      width: 100px
      height: 100px
  #ld-brand
    position: absolute
    top: 20px
    left: 20px
    width: 180px
    height: 56px
    background: url(img/brand.png) center center no-repeat
    background-size: cover
    @media (max-width: 991px)
      width: 90px
      height: 28px
  #ld-0media
    position: absolute
    top: 20px
    right: 20px
    width: 32px
    height: 32px
    background: url(img/0media.png) center center no-repeat
    background-size: cover
  #ld-credit
    position: absolute
    color: #fff
    top: 90px
    left: 30px
    width: 160px
    font-size: 12px
    line-height: 14px
    opacity: 0.9

    @media (max-width: 991px)
      top: 55px
      left: 30px
      width: 120px
      font-size: 8px
      line-height: 12px
    @media (max-width: 768px)
      line-height: 9px
