doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body(ng-app="main",ng-controller="main")
    #hint(ng-class="{'active':hint}"): #hint-inner
    #content(ng-show="!hint")
      #land(ng-class="{'inactive':stage!='land'}")
        img#ld-h(src="img/land-main.png")
        #ld-tt
          | 你看膩口水戰了嗎？聽膩抹黑造假的攻擊了嗎？現在就來一場你可以自己評分的政見六燈獎吧！
          | 今年除了台北市外，其他直轄市都是挑戰者對上衛冕者的踢館大戰，帶著上一次選民期待追求連任的市長們，應該受到更多檢視！現在我們就要把五位衛冕者送上政策檢驗舞台，讓身為青年的你，親自按下他們這四年政見落實的及格按鈕！
          | 評審請給燈燈燈燈燈燈～
        #ld-b(ng-click="stage='choose'")
      #cs-menu
        img#logo(src="img/logo-sm.png",ng-click="stage='land'")
        .item(ng-class="{'active':rlt.c==5}")
          .county 新北市
          .name 朱立倫
        .item(ng-class="{'active':rlt.c==4}")
          .county 桃園縣
          .name 吳志鴻
        .item(ng-class="{'active':rlt.c==3}")
          .county 台中市
          .name 胡自強
        .item(ng-class="{'active':rlt.c==2}")
          .county 台南市
          .name 賴清德
        .item(ng-class="{'active':rlt.c==1}")
          .county 高雄市
          .name 陳菊
      #choose(ng-class="{'inactive':stage!='choose'}")
        | &nbsp;
        #cs-box(ng-click="stage='judge'")
          #cs-box-inner(ng-class="rlt.b")
        #cs-rlt
          .head(ng-class="rlt.h[1]",ng-click="rlt.c=5")
          .head(ng-class="rlt.h[2]",ng-click="rlt.c=4")
          .head(ng-class="rlt.h[3]",ng-click="rlt.c=3")
          .head(ng-class="rlt.h[4]",ng-click="rlt.c=2")
          .head(ng-class="rlt.h[5]",ng-click="rlt.c=1")
        #cs-btn
          #cs-gl(ng-click="choosehead(-1)")
          #cs-gt 選擇一個首長
          #cs-gr(ng-click="choosehead(1)")
      #judge(ng-show="stage=='judge'")
        #court
          #jc-h
          #bulb1.bulb(ng-class="'s'+jdg.v[jdg.cc][0]")
          #bulb2.bulb(ng-class="'s'+jdg.v[jdg.cc][1]")
          #bulb3.bulb(ng-class="'s'+jdg.v[jdg.cc][2]")
          #bulb4.bulb(ng-class="'s'+jdg.v[jdg.cc][3]")
          #bulb5.bulb(ng-class="'s'+jdg.v[jdg.cc][4]")
          #bulb6.bulb(ng-class="'s'+jdg.v[jdg.cc][5]")
        #jg-sent1.sent
          #js1-title.title 2010年他曾經這麼說
          #js1-desc.desc
            | 1. 持續推動各項文化軟硬體建設，舉辦大型國際活動、促進國際藝文交流，以全球化、國際化為追求的目標，讓臺中市躋身世界文化都市之林。
            | 2. 打造國際級博物館群：
            | (1)規劃靜宜大學校區附近30甲的「大都會美術博物院」，與清水港區藝術中心共構海線藝文特區。
            | (2)設立各類產業博物館，如自行車、薩克斯風、工具機、糕餅、漆器、航太、花卉、溫泉等。
            | 3. 打造文化觀光區：
            | 保育海岸藍帶，尊重區域內之景觀特質，保存空間內之文化價值，發展特色觀光。
            | 打造藝術水岸文化專區，以發展大里溪沿岸區域，沿著水岸形塑出文化藝術生活動線為主。
        #jg-sent2.sent(ng-class="{'inactive':knowmore}")
          #js2-title.title 2010年他曾經這麼說
          #js2-desc.desc
            | 1. 持續推動各項文化軟硬體建設，舉辦大型國際活動、促進國際藝文交流，以全球化、國際化為追求的目標，讓臺中市躋身世界文化都市之林。
            | 2. 打造國際級博物館群：
            | (1)規劃靜宜大學校區附近30甲的「大都會美術博物院」，與清水港區藝術中心共構海線藝文特區。
            | (2)設立各類產業博物館，如自行車、薩克斯風、工具機、糕餅、漆器、航太、花卉、溫泉等。
            | 3. 打造文化觀光區：
            | 保育海岸藍帶，尊重區域內之景觀特質，保存空間內之文化價值，發展特色觀光。
            | 打造藝術水岸文化專區，以發展大里溪沿岸區域，沿著水岸形塑出文化藝術生活動線為主。
        #jg-sent3.sent(ng-class="{'inactive':!knowmore}")
          #js3-title.title 但你不能不知道
          #js3-desc.desc
            | 1.至今仍沒有社會住宅專責營運機構。
            | 2.「自治條例草案」還躺在議會，新北市府認為配合中央住宅法即可；但部分都市更新轉作社會住宅則無下文。
            | 3.被批評跳票的18萬戶社會住宅，新北市反駁只有「部分」要做青年、出租國宅。
            | 4.新北市去年房價平均1148萬，11.4年不吃不喝存下薪水才買得起房，房貸支出佔家庭所得四成，都比全國平均高，還有63%新北市民認為房價不合理，也是全台最高。
            | 5.居住議題NGO巢運認為新北市社會住宅「摻水」，部分有符合社宅條件的戶數比例不高、可轉賣、細節尚未定案等問題，原民住宅則遭批尚未與居民談妥就先動工。新北市府回應財源有限，以多元方式紮實推動社會住宅。
        #jg-sentl(ng-click="scoring(2)")
        #jg-sentr(ng-click="scoring(0)")
        #jg-more(ng-class="{'shown':knowmore}",ng-click="knowmore=!!!knowmore")
