@import basic
@import vars

html,body
  margin: 0
  padding: 0
  width: 100%
  height: 100%

body
  background: url(img/land-bk.png) center center no-repeat
  background-size: cover

@import sass/hint
@import sass/land
@import sass/menu
@import sass/choose
@import sass/judge
