<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://dummy.thumbnail">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.3.11/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app="main" ng-controller="main">
    <div id="hint" ng-class="{'active':hint}">
      <div id="hint-inner"></div>
    </div>
    <div id="content" ng-show="!hint">
      <div id="land" ng-class="{'inactive':stage!='land'}"><img id="ld-h" src="img/land-main.png">
        <div id="ld-tt">
          你看膩口水戰了嗎？聽膩抹黑造假的攻擊了嗎？現在就來一場你可以自己評分的政見六燈獎吧！
          今年除了台北市外，其他直轄市都是挑戰者對上衛冕者的踢館大戰，帶著上一次選民期待追求連任的市長們，應該受到更多檢視！現在我們就要把五位衛冕者送上政策檢驗舞台，讓身為青年的你，親自按下他們這四年政見落實的及格按鈕！
          評審請給燈燈燈燈燈燈～
        </div>
        <div id="ld-b" ng-click="stage='choose'"></div>
      </div>
      <div id="cs-menu"><img id="logo" src="img/logo-sm.png" ng-click="stage='land'">
        <div ng-class="{'active':rlt.c==5}" class="item">
          <div class="county">新北市</div>
          <div class="name">朱立倫</div>
        </div>
        <div ng-class="{'active':rlt.c==4}" class="item">
          <div class="county">桃園縣</div>
          <div class="name">吳志鴻</div>
        </div>
        <div ng-class="{'active':rlt.c==3}" class="item">
          <div class="county">台中市</div>
          <div class="name">胡自強</div>
        </div>
        <div ng-class="{'active':rlt.c==2}" class="item">
          <div class="county">台南市</div>
          <div class="name">賴清德</div>
        </div>
        <div ng-class="{'active':rlt.c==1}" class="item">
          <div class="county">高雄市</div>
          <div class="name">陳菊</div>
        </div>
      </div>
      <div id="choose" ng-class="{'inactive':stage!='choose'}">&nbsp;
        <div id="cs-box" ng-click="start()">
          <div id="cs-box-inner" ng-class="rlt.b"></div>
        </div>
        <div id="cs-rlt">
          <div ng-class="rlt.h[1]" ng-click="rlt.c=5" class="head"></div>
          <div ng-class="rlt.h[2]" ng-click="rlt.c=4" class="head"></div>
          <div ng-class="rlt.h[3]" ng-click="rlt.c=3" class="head"></div>
          <div ng-class="rlt.h[4]" ng-click="rlt.c=2" class="head"></div>
          <div ng-class="rlt.h[5]" ng-click="rlt.c=1" class="head"></div>
        </div>
        <div id="cs-btn">
          <div id="cs-gl" ng-click="choosehead(-1)"></div>
          <div id="cs-gt">選擇一個首長</div>
          <div id="cs-gr" ng-click="choosehead(1)"></div>
        </div>
      </div>
      <div id="judge" ng-show="stage=='judge' || stage=='fin'">
        <div id="court" ng-class="{'fin':stage=='fin'}">
          <div class="inner">
            <div id="jc-h"></div>
            <div id="bulb1" ng-class="bulbcls(0)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
            <div id="bulb2" ng-class="bulbcls(1)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
            <div id="bulb3" ng-class="bulbcls(2)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
            <div id="bulb4" ng-class="bulbcls(3)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
            <div id="bulb5" ng-class="bulbcls(4)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
            <div id="bulb6" ng-class="bulbcls(5)" class="bulb">
              <div class="inner">{{ctx.cat}}</div>
            </div>
          </div>
        </div>
        <div id="jg-sent1" ng-class="{'fin':stage=='fin'}" class="sent">
          <div id="js1-title" class="title">2010年他曾經這麼說</div>
          <div id="js1-desc" class="desc">{{ ctx.view }}</div>
        </div>
        <div id="jg-sent2" ng-class="{'inactive':knowmore,'fin':stage=='fin'}" class="sent">
          <div id="js2-title" class="title">2014年他實際做到的</div>
          <div id="js2-desc" class="desc">{{ ctx.achieve}}</div>
        </div>
        <div id="jg-sent3" ng-class="{'inactive':!knowmore,'fin':stage=='fin'}" class="sent">
          <div id="js3-title" class="title">但你不能不知道</div>
          <div id="js3-desc" class="desc">{{ ctx.more }}</div>
        </div>
        <div id="jg-sentl" ng-click="scoring(2)" ng-class="{'fin':stage=='fin'}"></div>
        <div id="jg-sentr" ng-click="scoring(0)" ng-class="{'fin':stage=='fin'}"></div>
        <div id="jg-more" ng-class="{'shown':knowmore,'fin':stage=='fin'}" ng-click="knowmore=!!!knowmore"></div>
      </div>
      <div id="fin" ng-active="{'inactive':stage!='fin'}">
        <div id="fin-pass"></div>
        <div id="fin-note">此新聞專題企圖以青年視角整理並檢測追求連任者政見，因此在觀點選擇以及時間限制上，所列並非完整政見，若有任何建議情來信 newseforum@gmail.com。</div>
        <div id="fin-ret">我給 {{cm[5 - jdg.cc]}} 的市政六燈獎結果是<br>亮 x 燈！</div>
        <div id="fin-btn">
          <div class="btn btn-primary">回選單監督其他市長</div>
          <div class="btn btn-primary">分享讓更多人監督</div>
        </div>
      </div>
    </div>
  </body>
</html>